
html{
    color: #FFFFFF;
    
    overflow-x:hidden;
    text-align: center;
    vertical-align: middle;
}

body{
    background-image: url('./sources/ACG.GY_13.jpg');
    background-repeat:no-repeat;
    
    background-size:cover;

}

#head {
    height: 1rem;
    width: auto;

    text-align: center;
    position: relative;
    margin:2rem auto;
}

#head a button{
    font-family: 'Open Sans';
    color: #FFFFFF;
    font-size: 1rem;
    width: 7rem;
    margin: 0 1%;
    border: none;
    transform: scaleX(1.1);
    background: transparent;
    vertical-align: middle;
    
}

.logo{
    height:20vh;
    width:20vh;
    position: relative;
    animation: App-logo-spin infinite 20s linear;
    pointer-events: none;
    text-align: center;
    vertical-align: middle;
    margin:13.1rem auto auto auto;
   
}

.logo img{
    height:100%;
    width:100%;
}

.title {
    height: 1rem;
    width:auto;
	font-family: 'Open Sans';
	position: relative;

	transform: scale(1.3,1.2);  
	font-size: 1.7vw;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    margin:2rem auto auto auto;
  
}

#wrap .logInfo{
    height: 10%;
	width: 15%;  
    position: relative;
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
    margin:7rem auto auto auto;
}


.logInfo #logName{
    height: 3.5rem;
    border-radius: 0.3rem 0.3rem 0rem 0rem;
    border-bottom:0.05rem  solid #F0F0F0;
}

.logInfo #logEmail{
    height: 3.5rem;
}

.logInfo #logPassword{
    height: 3.5rem;
    border-radius: 0rem 0rem 0.3rem 0.3rem;
    border-top:0.05rem  solid #F0F0F0;
}

.logInfo input{
    height: 2vh;
    width:15vw;
    border: none;
    position: relative;
    
    text-indent: 1.5rem;
}


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #AAAAAA;
    font-family: 'Open Sans';
    font-size: 1.5rem;
    font-weight: 400;
}
  
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #AAAAAA;
    font-family: 'Open Sans';
    font-size: 1.5rem;
    font-weight: 400;
}
  
input::-moz-placeholder, textarea::-moz-placeholder {
    color: #AAAAAA;
    font-family: 'Open Sans';
    font-size: 1.5rem;
    font-weight: 400;
}
  
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #AAAAAA;
    font-family: 'Open Sans';
    font-size: 1.5rem;
    font-weight: 400;
}

.logInfo .logStart{
   margin: 2rem auto auto auto;
}

.logInfo button{
   
    height: 2.0rem;
    width: 100%;
    background-color: #5D7599;
    border-radius: 0.2rem;
	border: none;
    color: white;
    font-size: 1.4rem;

}


.note{
    display: inline-block;
    height: 10%;
    width: auto;

    font-family: opensans-regular-webfont;
	color: #FFFFFF;
    
    font-size: 1.1rem;
    text-align: center;
    vertical-align: middle;
    margin:2rem auto auto auto;
}

@font-face {
    font-family: 'Open Sans';
    src: url('assets/fonts/regular/opensans-regular-webfont.eot');
    src: url('assets/fonts/regular/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/regular/opensans-regular-webfont.woff') format('woff'), url('assets/fonts/regular/opensans-regular-webfont.ttf') format('truetype'), url('assets/fonts/regular/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal; 
}
  
@font-face {
    font-family: 'Open Sans';
    src: url('assets/fonts/bold/opensans-bold-webfont.eot');
    src: url('assets/fonts/bold/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/bold/opensans-bold-webfont.woff') format('woff'), url('assets/fonts/bold/opensans-bold-webfont.ttf') format('truetype'), url('assets/fonts/bold/opensans-bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: bold;
    font-style: normal; 
}

.basicLightbox{
    position:fixed;
    display:flex;
    justify-content:center;
    align-items:center;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background:rgba(0,0,0,.8);
    opacity:.01;
    transition:opacity .4s ease;
    z-index:1000;
    will-change:opacity
}
    
.basicLightbox--visible{
    opacity:1
}

.basicLightbox__placeholder{
    max-width:100%;
    -webkit-transform:scale(.9);
    transform:scale(.9);
    transition:-webkit-transform .4s ease;
    transition:transform .4s ease;
    transition:transform .4s ease,-webkit-transform .4s ease;
    z-index:1;
    will-change:transform
}.basicLightbox__placeholder>iframe:first-child:last-child,.basicLightbox__placeholder>img:first-child:last-child,.basicLightbox__placeholder>video:first-child:last-child{display:block;position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;max-width:95%;max-height:95%}.basicLightbox__placeholder>iframe:first-child:last-child,.basicLightbox__placeholder>video:first-child:last-child{pointer-events:auto}.basicLightbox__placeholder>img:first-child:last-child,.basicLightbox__placeholder>video:first-child:last-child{width:auto;height:auto}.basicLightbox--iframe .basicLightbox__placeholder,.basicLightbox--img .basicLightbox__placeholder,.basicLightbox--video .basicLightbox__placeholder{width:100%;height:100%;pointer-events:none}.basicLightbox--visible .basicLightbox__placeholder{-webkit-transform:scale(1);transform:scale(1)}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }