@import url(./test.css);

.paragraph1 h1{
    display: inline-block;
    
    text-align: justify ;
    vertical-align: left;
    margin: 2vh 24vw;
}

.paragraph1 p{
    display: inline-block;
    
    text-align: justify ;
    vertical-align: left;
    margin: 2vh 24vw;
}